@font-face {font-family: Poppins-regular;  src: url('../fonts/Poppins-Regular.ttf');}
@font-face {font-family: Poppins-medium;  src: url('../fonts/Poppins-Medium.ttf');}
@font-face {font-family: Poppins-italic;  src: url('../fonts/Poppins-Italic.ttf');}
@font-face {font-family: Poppins-light;  src: url('../fonts/Poppins-Light.ttf');}
@font-face {font-family: Poppins-bold;  src: url('../fonts/Poppins-Bold.ttf');}
@font-face {font-family: Poppins-semibold;  src: url('../fonts/Poppins-SemiBold.ttf');}

:root {
    font-family: 'Poppins-medium', sans-serif;
    font-size: 1em;
}

html, body {height: 100%;}

b, .font-weight-bold {font-family: 'Poppins-bold', sans-serif;}
.font-weight-medium {font-family: 'Poppins-medium', sans-serif;}
.font-weight-semi-bold {font-family: 'Poppins-semibold', sans-serif;}
em {font-family: 'Poppins-italic', sans-serif;}

.green {color: #6AD8A3;}
.blue {color: #536DF8;}
.black {color: #00374B;}
.light-grey {color: #9bb0b9;}
.grey {color: #678089;}
a.grey:hover {color: #678089;}
a.black {color: #00374B;}
a.black:hover {color: #00374B;}
.underline {text-decoration: underline;}
.mb-80 {margin-bottom: 80px;}
.mb-100 {margin-bottom: 100px;}
.mt-80 {margin-top: 80px;}
.font-size-34 {font-size: 34px;}
.font-size-15 {font-size: 15px;}
.font-size-20 {font-size: 20px;}
.font-size-12 {font-size: 12px;}
.font-size-10 {font-size: 10px;}
.no-border {border: none!important;}
.cursor-pointer {cursor: pointer;}
.text-underline-hover:hover {text-decoration: underline;}
.flex-1 {flex: 1;}
.margin-top-60 {margin-top: 60px;}

.error {color: #536DF8; font-size: 11px;}

@media (max-width: 991px) {
    .reverse-mobile {display: flex; flex-direction: column-reverse;}
    .wrap-mobile {flex-wrap: wrap;}
}

.form-control:focus {
    box-shadow: transparent;
    border-color: initial;
}

.loader {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-btn {
    min-width: 250px;
    color: white;
    background-color: #536DF8;
    padding: 4px 5px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Poppins-bold', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease;
}

.blue-btn:hover {text-decoration: none; color: white; background-color: #7086fe;}

.btn-green-full, .btn-green, .btn-white {
    display: inline-block;
    max-width: 250px;
    width: 100%;
    text-align: center;
    border-radius: 36px;
    font-family: 'Poppins-medium', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px 5px;
    transition: all 0.3s ease;
}

.btn-green-full {
    background-color: #6ad8a3;
    color: white;
}

.btn-green {
    background-color: white;
    border: 2px solid #6ad8a3;
    color: #6ad8a3;
}

.btn-white {
    background-color: white;
    color: #6ad8a3;
}

.btn-green-full:hover {color: white; text-decoration: none; background-color: #4dbe87;}
.btn-green:hover {color: #4dbe87; border: 2px solid #4dbe87; text-decoration: none;}
.btn-white:hover {color: #4dbe87; text-decoration: none;}

.btn-green-full.disabled {background-color: #b9cdd5;}

.active-grey-link {
    text-decoration: underline;
    font-weight: bold;
}

button.btn-green-full {display: flex; flex: 1; justify-content: center; align-items: center; border: none; outline: none;}
button.btn-green-full:focus {outline: none;}
button.btn-green-full > div {margin-left: 10px;}

html, body {
    padding: 0;
    margin: 0;
    background-color: #F7F7F7;
}

body {font-family: 'Poppins-regular', sans-serif;}
h2 {font-size: 28px; line-height: 1.32; font-family: 'Poppins-semibold', sans-serif;}

header {position: fixed; width: 100%; z-index: 100; top: 0; min-height: 20vh; padding: 80px 20px 40px 20px;}
header, nav {background-color: white;}
nav .logo {width: 100px;}
.navbar {align-items: flex-end;}

@media (max-width: 991px) {
    header {padding: 20px 20px 20px 20px; min-height: 15vh;}
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins-medium', sans-serif;
    font-size: 15px;
    color: #00374B;
    padding: 0 30px;
}

.navbar-light .navbar-nav .nav-link.active {font-weight: bold;}

nav .dropdown-menu {left: initial; max-width: 200px; margin: auto;}
nav .dropdown-item {font-size: 12px;}

@media (max-width: 991px) {
    .navbar-nav {text-align: center;}
    .navbar-light .navbar-nav .nav-link {margin: 10px;}
    .connect-btn-navbar {margin: 10px; text-align: center;}
}

@media (max-width: 576px) {
    .connect-btn-navbar a {width: 100%; min-width: initial;}
}

#homepage {
    min-height: 80vh;
    background-color: white;
    padding: 70px 0 0 0;
    margin-top: 20vh;
}

@media (max-width: 991px) {
    #homepage {padding: 20px 0 0 0; margin-top: 15vh;}
}

#homepage .logo {width: 240px; margin-bottom: 2em;}
#homepage .illustration {max-width: 480px; width: 100%; height: 100%;}
#homepage p {font-size: 20px; line-height: 1.68; max-width: 650px; margin-bottom: 80px;}

#homepage-presentation-student {padding: 80px 0;}
#homepage-presentation-student p {font-size: 16px; line-height: 1.68; max-width: 650px;}

#homepage-presentation-tutorat {padding: 80px 0; background-color: white;}
#homepage-presentation-tutorat p {font-size: 16px; line-height: 1.68; max-width: 650px;}

#homepage-presentation-tutorat .partenaires {display: flex; justify-content: center; max-width: 700px; margin: auto;}
#homepage-presentation-tutorat .partenaires > div {max-width: 205px; width: 100%; height: 73px; margin: 10px 0;}
#homepage-presentation-tutorat .partenaires > div > div {width: 100%; height: 100%; background-color: #f0f0f0;}
#homepage-presentation-tutorat .partenaires img {width: 100%; height: 100%; object-fit: cover;}

#contact {padding: 120px 0;}
#contact-form {max-width: 660px;}
.homepage-form .form-control {border-radius: 20px; border-color: transparent;}
.homepage-form button {width: 100%; min-width: auto; outline: none; border: transparent; margin: 0;}
.grey-form .form-control {background-color: #f7f7f7;}

#login {
    min-height: 80vh;
    background-color: white;
    padding: 70px 0 0 0;
    margin-top: 20vh;
}

@media (max-width: 991px) {
    #login {margin-top: 15vh;}
}

#dashboard {display: flex; height: 100%;}
#dashboard main {width: 100%; padding: 150px 60px 40px 80px; max-height: 100vh; overflow: auto;}
#dashboard  h1 {font-size: 30px; color: #00374b; max-width: 500px;}

#menu-dashboard {
    transition: all 0.3s ease;
    border-radius: 0 80px 80px 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background-color: white;
    margin: 0;
    padding: 100px 40px 50px 40px;
    text-align: right;
    overflow-y: auto;
}

#menu-dashboard nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu-dashboard .logo {width: 100%; text-align: right; margin-bottom: 3em;}
#menu-dashboard .logo img {width: 100px;}
#menu-dashboard ul {padding: 0; margin: 0;}
#menu-dashboard li {list-style-type: none; padding: 0; margin: 25px 0 0 0;}
#menu-dashboard li span {color: #678089; cursor: pointer;}
#menu-dashboard li i {color: #b9cdd5; margin-left: 20px;}
#menu-dashboard li > div {cursor: pointer;}
#menu-dashboard li > div:hover {font-weight: bold;}
#menu-dashboard li a:hover {text-decoration: none; font-weight: bold;}
#menu-dashboard li a:hover i {color: #678089;}
#menu-dashboard li a.active {font-weight: bold;}
#menu-dashboard li a.active i {color: #6ad8a3;}


@media (max-width: 991px) {
    #menu-dashboard {max-width: 260px; padding: 60px 40px 50px 20px;}
    #menu-dashboard li {font-size: 0.9em;}
}

@media (max-width: 768px) {
    #menu-dashboard .logo {margin-bottom: 20px;}
    #menu-dashboard {max-width: 50px; padding: 60px 15px 50px 15px;}
    #menu-dashboard li {text-align: center;}
    #menu-dashboard li span {display: none;}
    #menu-dashboard li i {margin-left: 0;}

    #dashboard main {padding: 40px 20px 40px 20px;}
}

@media (max-width: 576px) {
    #menu-dashboard .logo img {width: 45px;margin-left: -12px;}
}

#how-it-works h3 {font-size: 18px; font-family: 'Poppins-semibold', 'sans-serif'; color: #00374b; max-width: 300px;}
#how-it-works p {font-size: 14px; font-family: 'Poppins-medium', 'sans-serif'; color: #678089;}
#how-it-works img {max-width: 220px;}
#how-it-works .description {display: flex; flex-direction: column; justify-content: center; margin-bottom: 40px; max-width: 540px;}

@media (max-width: 576px) {
    #how-it-works .d-flex {flex-direction: column;}
}

footer {
    background-color: #6ad8a3;
    padding: 50px 20px 70px 20px;
    color: white;
    font-size: 16px;
}

footer .logo {width: 135px; margin-bottom: 1em;}

.social-network {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .social-network {margin-bottom: 10px;}
}

.social-network:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.social-network-black {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: solid 2px #00374b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network-black:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}


.invalid-feedback {color: #536DF8; padding-left: 10px; font-family: Poppins-medium, sans-serif; transition: all 0.3s ease;}
.form-control.is-invalid {border: solid 1px #536DF8!important;transition: all 0.3s ease;}
.was-validated .form-control:invalid, .form-control.is-invalid {background-image: none;}

.modal-backdrop{background-color: #efefef;}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.modal-content {
    border-radius: 21px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 20px 40px 40px 40px;
    border: transparent;
}

.block-white {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.block-white .title {
    font-family: Poppins-semibold, 'sans-serif';
    font-size: 12px;
    color: #678089;
    text-transform: uppercase;
}

.settings-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #9bb0b9;
}

.settings-form-group .label-group {
    max-width: 250px;
    width: 100%;
    color: #678089;
    font-size: 15px;
}

.settings-form-group .label-small {
    font-size: 10px;
    font-weight: bold;
    color: #9bb0b9;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.settings-form-group input, .settings-form-group textarea {border: none; color: #678089; background-color: #f7f7f7; border-radius: 20px; font-weight: bold;}
.settings-form-group input:focus {outline: none; border-color: transparent; box-shadow: none; color: #00374b; background-color: #f7f7f7;}
.settings-form-group textarea:focus {outline: none; border-color: transparent; background-color: #f7f7f7; box-shadow: none;}
.before-edit {padding: 0.375rem 0.75rem; color: #00374b; font-weight: bold;}

.btn-smaller {
    width: 100%;
    min-width: auto;
    font-size: 11px;
    padding: 7px;
}

.premium {
    color: #678089;
    font-size: 12px;
    padding: 10px;
}

.premium > div {margin-bottom: 15px;}
.premium i {margin-right: 20px;}
.border-right-separation {border-right: 1px solid #9bb0b9;}

.edit-button {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    color: #678089;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

.edit-button.opened, .edit-button:hover {
    background-color: #678089;
    color: white;
}

.dropdown-edit {
    position: relative;
}

.dropdown-edit-card {
    position: absolute;
    width: 137px;
    height: 110px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    margin-top: 10px;
    transition: all .3s ease;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
    left: -50px;
}

.dropdown-edit-card .link {
    color: #9bb0b9;
    text-transform: uppercase;
    font-family: Poppins-bold, sans-serif;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
}

.dropdown-edit-card .link:first-child {
    border-bottom: 1px solid #9bb0b9;
}

.dropdown-edit-card .link:hover {text-decoration: underline;}

.dropdown-edit-card.show {
    opacity: 1;
}


.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    object-fit: contain;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 3px #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.avatar-modal {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
}

#menu-dashboard .avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: -10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all .5s ease;
}

.avatar img.loading {
    opacity: .3;
}

@media (max-width: 768px) {
    #menu-dashboard .avatar {
        width: 30px;
        height: 30px;
        margin-left: -5px;
        margin-right: 0;
    }
}

.hide-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
}

.loader-avatar {
    position: absolute;
    margin: auto;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
}

.new-school-subject {
    max-width: 179px;
    width: 100%;
    height: 116px;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    color: #678089;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto;
}

.new-school-subject:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.37);
}

.input-no-border input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #9bb0b9;
    border-radius: 0;
    color: #00374b;
    font-weight: bold;
}

#courses {
    max-width: 770px;
    margin: 0;
}

.subject-card {
    max-width: 178px;
    width: 100%;
    height: 116px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

#classroom .subject-card h3 {color: #60cec6;}
.classroom .subject-card h3 {color: #60cec6;}

.subject-card h3 {
    color: #536df8;
    font-family: Poppins-bold, sans-serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
    width: 100%;
}

.subject-card > div {
    color: #678089;
    font-size: 12px;
    text-align: center;
}

.subject-card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
}

.surrender-modal {
    color: #00374B;
    text-transform: uppercase;
    font-family: Poppins-bold, sans-serif;
    font-size: 10px;
    cursor: pointer;
    pointer-events: auto;
    margin-top: 1.5em;
}

.add-button-chapters {
    width: 82px;
    height: 82px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    color: #678089;
    transition: all 0.3s ease;
}

.add-button-chapters:hover {box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);}

.add-button-cards {
    width: 324px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #678089;
}

.add-button-cards:hover {box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);}

.chapter-card {
    width: 100%;
    max-width: 431px;
    height: 59px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    margin-bottom: 15px;
}

.chapter-card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

.last-posts {width: 100%; max-width: 431px; display: block;}
.last-posts:hover {text-decoration: none;}
.last-posts-with-border .chapter-card {box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);}

.chapter-card .vignette {
    height: 100%;
    width: 8px;
    background-color: #536df8;
    border-radius: 11px 0 0 11px;
    margin-right: 40px;
}

.classroom .chapter-card .vignette {background-color: #60cec6;}
#classroom .chapter-card .vignette {background-color: #60cec6;}

.chapter-card .title-chapter {
    color: #00374b;
    font-size: 11px;
    text-transform: uppercase;
    font-family: Poppins-bold, sans-serif;
}

.chapter-card .nb-chapters {
    color: #678089;
    font-size: 10px;
}

.kudo-card {
    width: 778px;
    min-height: 86px;
}

.kudo-card-content {
    width: 100%;
    border-radius: 20px 0 20px 20px;
    background-color: #ffffff;
    padding: 10px 20px;
}

.kudo-card .title-card {
    font-size: 11px;
    color: #678089;
    text-transform: uppercase;
}


.kudo-card .input-no-border input {
    color: #678089;
    text-align: left;
    padding: 0.375rem 0;
}

.kudo-card .input-no-border input::placeholder {
    font-style: italic;
    color: #9bb0b9;
    font-weight: normal;
}

.public-DraftEditorPlaceholder-inner {
    font-style: italic;
    color: #9bb0b9;
    padding-top: 0;
}

.kudo-card .input-no-border textarea {
    border: none;
    border-bottom: 1px solid #9bb0b9;
    padding: 0.375rem 0;
    border-radius: 0;
    overflow: hidden;
}

.kudo-card .editor {
    padding: 0 0 0 0;
    margin-left: 12px;
    border-bottom: 1px solid #9bb0b9;
    min-height: 55px;
}

.kudo-card .editor .block-editor {margin-top: 8px;}
.kudo-card .editor.content .block-editor {margin-top: 0;}

.kudo-card .editor.content {min-height: initial;}
.kudo-card .editor.content.no-content {min-height: 55px;}

.kudo-card .editor-barre {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 5px 20px 5px 10px;
    display: flex;
    justify-content: space-between;
}

.kudo-card .editor-barre i {
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}

.email-student {
    background-color: #f7f7f7;
    width: 100%;
    padding: 5px 10px;
    color: #00374b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: Poppins-medium, sans-serif;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.email-student:hover .email {
    color: #6ad8a3;
}

.email-student i {color: #9bb0b9; cursor: pointer; visibility: hidden;}
.email-student:hover i {visibility: visible;}
.email-student i:hover {color: #00374b;}

.edit-card-button {position: absolute; right: 10px; color: #678089; cursor: pointer;}
.not-editable {border-bottom: 1px solid #9bb0b9;}

.popover-colors {
    display: none;
    width: 113px;
    height: 29px;
    border: solid 1px #b9cdd5;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background-color: white;
}

.popover-colors.show {display: flex; align-items: center; justify-content: space-between;}

.popover-colors .color {
    width: 17px;
    height: 17px;
    border-radius: 10px;
    cursor: pointer;
}

.popover-colors .color.green {background-color: #6ad8a3;}
.popover-colors .color.blue {background-color: #536df8;}
.popover-colors .color.light-blue {background-color: #adbaff;}
.popover-colors .color.grey {background-color: #b9cdd5;}

.card-file {
    position: absolute;
    right: 10px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 11px;
    border: dashed 1px #b9cdd5;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9cdd5;
}
